/* You can add global styles to this file, and also import other style files */

:root {
    --dominant-color: #841618;
    --background-color: #121212;
    --text-color: #e0e0e0;
    --secondary-color: #5a1011;
    /* Slightly darker shade of the dominant color */
    --light-background-color: #ffffff;
    /* Light mode background */
    --light-text-color: #333333;
    /* Light mode text color */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--dominant-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}