<div class="fullscreen-background">
    <div class="container">
        <!-- Botón de alternar modo -->
        <button (click)="toggleDarkMode()" class="toggle-mode-btn" aria-label="Alternar modo oscuro">
            {{ isDarkMode ? 'Modo Claro' : 'Modo Oscuro' }}
        </button>

        <!-- Icono de cerrar -->
        <button (click)="closeReset()" class="close-btn" aria-label="Cerrar formulario de restablecer contraseña">
            <i class="bx bx-x"></i>
        </button>

        <!-- Formulario de restablecimiento -->
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" aria-labelledby="reset-form-title">
            <h1>Restablecer Contraseña</h1>

            <div class="form-group">
                <input type="email" formControlName="email" id="email" placeholder="Correo Electrónico" required />
                <i class="bx bxs-envelope" aria-label="Icono de correo"></i>
                <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="error-message">
                    El correo electrónico es requerido y debe ser válido.
                </div>
            </div>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <button type="submit" class="btn" [disabled]="resetForm.invalid">
                Enviar Enlace
            </button>

            <div class="register-link">
                <p>¿Recordaste tu contraseña? <a routerLink="/login/login">Inicia Sesión</a></p>
            </div>
        </form>
    </div>
</div>